# Gradle
.gradle/
build/

# Java
*.class
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
*.iws
.settings

out/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Spring Boot
spring.log

# Others
*.swp
bin/

# properties files
application-local.properties
application-test.properties
application.properties
logback.xml
.http

# Gatling
gatling-results/
gatling